* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
}

body {
  font-family: 'MedievalSharp', cursive;
  background-color: #18110F;
}

.card_destaque{
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
  background-color: grey;
  padding: 80px;
  border: solid 3px #e91313;
  font-size: 30px;

}
.card_destaque h2{

  font-size: 28px;
}
.card_destaque a{
  text-decoration: none;
  color: #8B0000;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -60px; 
}

.push,
.footer {
  height: 60px; 
}

.footer {
  background-color: #000000;
  text-align: center;
  color: #F5E6C8;
  font-family: 'MedievalSharp', cursive;
  display: table; 
  width: 100%;
}

.footer p {
  display: table-cell;
  vertical-align: middle;
}

.logo{

    text-align:center;

}

.logo h1{

    display:inline-block;
    vertical-align:middle;
    margin-right:15px;

}

.logo img{

    display:inline-block;
    vertical-align:middle;
    width:80px;
    height:auto;
    background: none;

}


.navegacao header {
  background-color: #e91313;
  padding: 0;
  text-align: center;
  font-family: 'MedievalSharp', cursive;
  position: relative;
  top: 0;
  left: 0;
}

.navegacao h1 {
  font-family: 'MedievalSharp', cursive;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #F5E6C8;
}

.navegacao nav {
  background-color: #000000;
  overflow: hidden; 
  font-family: 'MedievalSharp', cursive;
  text-align: center;
}

.navegacao nav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'MedievalSharp', cursive;
  color: #8B0000;
}

.navegacao nav a:hover {
  background-color: #F5E6C8;
  color: #8B0000;
}

.navegacao ul {
  list-style-type: none;
  display: inline-block;
  font-family: 'MedievalSharp', cursive;
  text-align: center;
}

.navegacao ul li {
  display: inline-block;
  margin-right: 10px;
  font-family: 'MedievalSharp', cursive;
  color: #8B0000;
}
/*---------------------------------Não mexe nesta desgraça----------------------------------------*/






.cards {
  text-align: center;
  padding: 30px 10px;
  overflow: hidden;
}

.card {
  display: inline-block;
  vertical-align: top;
  width: 22%;
  min-width: 180px;
  margin: 10px 1%;
  background-color: #2a1c18;
  border: 1px solid #8B0000;
  border-radius: 6px;
  overflow: hidden;
  color: #F5E6C8;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  display: block;
}

.card h3 {
  font-family: 'MedievalSharp', cursive;
  padding: 10px 0;
  font-size: 24px;
  background-color: #8B0000;
}
.cards h1{
  color: #F5E6C8;;
}

.card a{
  text-decoration: none;
  color: #F5E6C8;
}



/*--------------------Galeria-----------------------*/

.container_galeria{
  height: auto;
}

.personagem{
    width: 100%;
    clear: both;
    overflow: hidden;
    border: solid  #8B0000;
    margin-bottom: 10px;
}

.personagem img{
    float: left;
    width: 500px;
    margin: 20px;
    border-radius: 200px;
    border: 3px solid #e91313;
}

.personagem h1{
    color: white;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}

.personagem p{
    color: white;
    font-size: 20px;
}



/*---------------Cárdapio--------------------*/


.pratos{
  display: inline-block;
  vertical-align: top;
  width: 22%;
  min-width: 180px;
  margin: 10px 1%;
  background-color: #2a1c18;
  border: 1px solid #8B0000;
  border-radius: 6px;
  overflow: hidden;
  color: #F5E6C8;
  
}
.pratos img{
  width: 100%;
  height: 160px;
  object-fit: cover;
  display: block;
  float: left;  
}
.pratos h3{
  font-family: 'MedievalSharp', cursive;
  padding: 10px 0;
}
.cardapio{
  text-align: center;
  padding: 30px 10px;
  overflow: hidden;
}

/* ---------- RESERVAS ---------- */



.banner-reserva img{

    width:100%;
    height:420px;

}


.formulario_galeria{

    width:650px;

    margin:60px auto;

    background:#3A2622;

    border:2px solid #8B0000;

    padding:40px;

}

.formulario_galeria h2{

    text-align:center;

    color:#F5E6C8;

    margin-bottom:40px;

}

.formulario_galeria label{

    display:block;

    margin-top:20px;

    color:#F5E6C8;

    font-size:18px;

}

.formulario_galeria input{

    width:100%;

    height:42px;

    margin-top:8px;

    margin-bottom:10px;

    background:#2B1A17;

    color:#F5E6C8;

    border:1px solid #5B3A29;

    padding-left:10px;

    font-size:16px;

}

.formulario_galeria select{

    width:100%;

    height:42px;

    margin-top:8px;

    margin-bottom:10px;

    background:#2B1A17;

    color:#F5E6C8;

    border:1px solid #5B3A29;

    padding-left:10px;

}

.formulario_galeria textarea{

    width:100%;

    background:#2B1A17;

    color:#F5E6C8;

    border:1px solid #5B3A29;

    margin-top:8px;

    margin-bottom:25px;

    padding:10px;

    resize:none;

}

.formulario_galeria input[type=submit]{

    width:220px;

    background:#8B0000;

    color:white;

    border:none;

    cursor:pointer;

    font-size:18px;

    display:block;

    margin:0 auto;

}

.formulario_galeria input[type=submit]:hover{

    background:#B22222;

}

.formulario_galeria input:focus,
.formulario_galeria select:focus,
.formulario_galeria textarea:focus{

    border:2px solid #D32F2F;

    outline:none;

}

/* -------- EVENTOS -------- */

.banner-eventos{

    width:100%;
    height:420px;

    position:relative;

    overflow:hidden;

}

.banner-eventos img{

    width:100%;
    height:420px;

}

.banner-eventos-texto{

    position:absolute;

    top:140px;

    left:0;

    width:100%;

    text-align:center;

    background:rgba(24,17,15,.55);

    color:#F5E6C8;

    padding-top:40px;

    padding-bottom:40px;

}

.banner-eventos-texto h2{

    font-size:46px;

    margin-bottom:15px;

}

.banner-eventos-texto p{

    font-size:22px;

}

.lista-eventos{

    width:1200px;

    margin:50px auto;

    text-align:center;

}

.lista-eventos h2{

    font-size:38px;

    color:#F5E6C8;

    margin-bottom:40px;

}

.evento{

    width:330px;

    display:inline-block;

    vertical-align:top;

    margin:18px;

    background:#3A2622;

    border:2px solid #5B3A29;

    text-align:center;

    padding-bottom:20px;

}

.evento img{

    width: 315px;
    border: solid #F5E6C8;   
    height:220px;

}

.evento h3{

    color:#F5E6C8;

    margin-top:20px;

}

.evento p{

    color:#C7B8A3;

    padding:15px;

    line-height:24px;

}

.evento a{

    display:inline-block;

    background:#8B0000;

    color:white;

    text-decoration:none;

    padding:12px 25px;

}

.evento:hover{

    border-color:#D32F2F;

}

.evento a:hover{

    background:#B22222;

}

/* ---------------- CONTATO ---------------- */

.banner-contato{

    width:100%;
    height:420px;
    position:relative;
    margin-bottom:60px;

}

.banner-contato img{

    width:100%;
    height:420px;

}

.banner-texto{

    position:absolute;
    top:140px;
    left:0;
    width:100%;
    text-align:center;
    background:rgba(24,17,15,.60);
    color:#F5E6C8;
    padding:40px 0;

}

.banner-texto h2{

    font-size:46px;
    margin-bottom:20px;

}

.banner-texto p{

    font-size:20px;

}


.sobre-taverna{

    width:1100px;
    margin:70px auto;
    background:#3A2622;
    border:3px solid #8B0000;
    padding:40px;

}

.sobre-taverna h2{

    text-align:center;
    color:#F5E6C8;
    margin-bottom:35px;

}

.sobre-taverna p{

    color:#C7B8A3;
    text-align:justify;
    line-height:30px;
    margin-bottom:25px;

}



.contato{

    width:1200px;
    margin: 40px auto;
    text-align:center;

}

.informacoes{

    width:360px;
    display:inline-block;
    vertical-align:top;
    background:#3A2622;
    border:3px solid #8B0000;
    padding:30px;
    margin-right:40px;
    text-align:left;

}

.informacoes h2{

    color:#F5E6C8;
    margin-bottom:25px;

}

.informacoes p{

    color:#C7B8A3;
    line-height:30px;
    margin-bottom:20px;

}



.formulario{

    width:650px;
    display:inline-block;
    vertical-align:top;
    background:#3A2622;
    border:3px solid #8B0000;
    padding:30px;
    text-align:left;

}

.formulario h2{

    text-align:center;
    color:#F5E6C8;
    margin-bottom:30px;

}

.formulario label{

    display:block;
    color:#F5E6C8;
    margin-top:20px;

}

.formulario input,
.formulario textarea{

    width:100%;
    background:#2B1A17;
    border:1px solid #B22222;
    color:#F5E6C8;
    margin-top:8px;
    margin-bottom:15px;
    padding:10px;

}

.formulario input{

    height:42px;

}

.formulario textarea{

    resize:none;

}

.formulario input[type=submit]{

    width:220px;
    display:block;
    margin:30px auto 0;
    background:#8B0000;
    border:none;
    color:white;
    cursor:pointer;
    font-size:17px;

}

.formulario input[type=submit]:hover{

    background:#B22222;

}



.redes{

    width:1200px;
    margin:80px auto;
    text-align:center;

}

.redes h2{

    color:#F5E6C8;
    margin-bottom:45px;

}

.rede{

    width:220px;
    display:inline-block;
    vertical-align:top;
    margin:18px;
    padding:25px;
    background:#3A2622;
    border:3px solid #8B0000;

}

.rede img{

    width:70px;
    height:70px;
    margin-bottom:15px;

}

.rede a{
  text-decoration: double;
  color: #F5E6C8;
}

.rede h3{

    color:#F5E6C8;
    margin-bottom:10px;

}

.rede p{

    color:#C7B8A3;
    line-height:24px;

}

.rede:hover{

    border-color:#FF5252;

}

/* ------------CARDÁPIO---------------*/

.cardapio{

    width:1300px;

    margin:60px auto;

}

.cardapio h2{

    text-align:center;

    color:#F5E6C8;

    font-size:42px;

    margin-bottom:60px;

}



.prato{

    width:600px;

    height:230px;

    float:left;

    margin:20px;

    background:#3A2622;

    border:3px solid #8B0000;

    box-sizing:border-box;

    padding:15px;

}



.prato img{

    width:180px;

    height:180px;

    float:left;

    border:2px solid #B22222;

    margin-right:20px;

}



.descricao{

    float:left;

    width:360px;

}



.descricao h3{

    color:#F5E6C8;

    margin-top:0;

    margin-bottom:12px;

}



.descricao p{

    color:#C7B8A3;

    line-height:24px;

    margin-bottom:18px;

}



.descricao h4{

    color:#FF5252;

    margin-bottom:15px;

}


.descricao a{

    display:inline-block;

    padding:10px 25px;

    background:#8B0000;

    color:white;

    text-decoration:none;

}

.descricao a:hover{

    background:#B22222;

}



.prato:hover{

    border-color:#FF5252;

}



.cardapio::after{

    content:"";

    display:block;

    clear:both;

}
